<div class="row"> <div class="col-sm-8"> <div class="well"> <translate-input></translate-input> </div> <p><strong>We found an article on "{{translation.fromTerm}}", but no translation to {{translation.toLang}}.</strong></p> <p>Note: "{{translation.originalTerm}}" was redirected to "{{translation.fromTerm}}". <a href="" ng-click="showMore = !showMore">Did you mean something else?</a></p> <div ng-show="showMore"> <p>TODO! (not implemented yet)</p> <!--
      <p>For the verb "to trek" see <a href="#">Trekking</a>.</p>

      <p>The term may also refer to:</p>
      <ul>
        <li><a href="#">The Great Trek, a 19th-century migration of Africa's Boers</a></li>
        <li><a href="#">Star Trek, an American science fiction entertainment franchise (1966-)</a></li>
        <li><a href="#">Steam Trek: The Moving Picture (1994)</a></li>
        <li><a href="#">Trek (band), Russian rock band</a></li>
        <li><a href="#">TREK experiment, a particle physics experiment planned at J-PARC, Japan</a></li>
        <li><a href="#">the Trek experiment, UC Berkeley, on board STS-74.</a></li>
        <li><a href="#">Trek Bicycle Corporation, a bicycle manufacturer</a></li>
        <li><a href="#">Trekking bike, a type of hybrid bicycle</a></li>
        <li><a href="#">Saurkundi Pass Trek, a trekking program organized by the Youth Hostels Association of India</a></li>
        <li><a href="#">Horse or pony trekking, a form of trail riding</a></li>
        <li><a href="#">KCNK2, otherwise known as the TREK-1 potassium channel</a></li>
      </ul>

      <p>See also:</p>
      <ul>
        <li><a href="#">Trekker (comics)</a></li>
        <li><a href="#">Trekboer</a></li>
        <li><a href="#">Voortrekkers</a></li>
        <li><a href="#">Trekking peak</a></li>
        <li><a href="#">Trekking pole</a></li>
        <li><a href="#">Sea Trek (disambiguation)</a></li>
      </ul>
      --> </div> </div> <div class="col-sm-4"> <term-definition></term-definition> </div> </div>